*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2e9e4;
  color: #4a4e69;
}

p {
  margin: 0;
}

main {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
}

#nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25),
    0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}

#nav-bar a:nth-child(1):before {
  content: url("./assets//house-solid.svg");
  width: 25px;
}

#nav-bar a:nth-child(2):before {
  content: url("./assets//calendar-solid.svg");
  width: 20px;
}

#nav-bar a {
  text-decoration: none;
  background-color: #c9ada7;
  border: 2px solid #9a8c98;
  border-radius: 15px;
  box-sizing: border-box;
  color: #4a4e69;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#nav-bar a:hover,
#event-form button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #c9ada7;
  background-color: #4a4e69;
}

#nav-bar a:active,
#event-form button:active {
  box-shadow: none;
  transform: translateY(0);
}

#page-nav {
  display: block;
  position: relative;
}

.page-item:hover {
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 50px;
}

#container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

#form-container {
  position: fixed;
  left: 150px;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #4a4e69;
  padding: 20px;
  box-shadow: 0px 9px 30px #22223b;
  border-radius: 10px;
}

#event-form {
  margin-bottom: 30px;
}

#event-form select {
  margin-right: 10px;
  text-align: center;
}

#event-form button {
  margin-left: 10px;
  background-color: #c9ada7;
  border: 2px solid #9a8c98;
  border-radius: 15px;
  box-sizing: border-box;
  color: #4a4e69;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

#poster-container {
  position: sticky;
  left: 650px;
  top: 250px;
  width: 1000px;
}

.event_poster img {
  object-fit: contain;
}

.flight-header {
  width: 80%;
  margin: 15px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 150px;
  padding: 15px;
}

.flight-header h2 {
  border: 2px solid #9a8c98;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.flight-container {
  margin-bottom: 25px;
}

.flight-item {
  border: 2px solid #9a8c98;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  margin: 0 auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.item-airports {
  width: 250px;
}

.item-dates {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-prices {
  width: 250px;
  text-align: right;
}

.item-btn,
#cancelBtn,
#submitBtn,
.edit-btn {
  height: 50px;
  background-color: #c9ada7;
  border: 2px solid #9a8c98;
  border-radius: 15px;
  box-sizing: border-box;
  color: #4a4e69;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

.item-btn:hover,
#submitBtn:hover,
#cancelBtn:hover,
.edit-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #c9ada7;
  background-color: #4a4e69;
}

.item-btn:active,
#submitBtn:active,
#cancelBtn:active,
.edit-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

#confirmation-container {
  border: 2px solid #9a8c98;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  margin: 0 auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
}

.trip-item {
  border: 2px solid #9a8c98;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  margin: 25px auto 25px auto;
}

.tripHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #9a8c98;
  padding: 15px;
  box-shadow: 0px 9px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 5px 0 5px 0 5px;
}

.tripBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tripBody div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.delete-btn {
  background-color: #4a4e69;
  border: 2px solid #9a8c98;
  border-radius: 15px;
  box-sizing: border-box;
  color: #c9ada7;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
  position: relative;
  right: -65px;
}

.delete-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #4a4e69;
  background-color: #c9ada7;
}

.delete-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
